body{
  padding: 0px;
  text-align: center;
  background: #f2f6f8;
  overflow: hidden;
}

#container{
    display:none;
}

.hidden {
    display: none;
}

canvas {
  margin-top: 10vh;
  margin-left: 15vw;
  margin-right: 10vh;
  margin-bottom: 20vw;
  /*background: black;*/
  outline: 1px solid white;
}

#gameState {
    position: center;
    color: white;
    font-size: 60px;
    left: 275px;
    top: 325px;
    font-weight: 800;
    background-color: black;
    border-style: solid;
    border-color: white;
}
#playerWins {
    position: center;
    color: white;
    font-size: 60px;
    left: 280px;
    top: 325px;
    font-weight: 800;
    background-color: black;
    border-style: solid;
    border-color: white;
}

#playAgain {
    position: center;
    color: white;
    font-size: 25px;
    left: 280px;
    top: 325px;
    font-weight: 800;
    background-color: black;
    border-style: solid;
    border-color: white;  
}